<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>

<body>
<table border="1" cellpadding="10">
    <tr>

        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each ="user : ${allUsers}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getUsername()}"></td>
        <td th:utext="${user.getPassword()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getSurname()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <td th:utext="${user.getRoles()}"></td>

        <td><form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
            <input type="submit" value="Edit"/>
        </form> </td>
        <td><form th:method="POST" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form> </td>
    </tr>
</table>
<br>
<br>

<form th:method="GET" th:action="@{/admin/add}">
    <input type="submit" value="Create New User"/>
</form>

<br>
<br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
<br><br>

</body>
</html>